{
  admin 0.0.0.0:2019
  auto_https off
  metrics
  frankenphp {
    worker {
      file ./public/index.php
      num 4
    }
  }
}

:8081 {
  root * /app/public
  php_server
  encode zstd gzip
  log
}
